# Data preparation Task

Import necessary packages

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
from datetime import datetime

Load csv files

In [12]:
cologneData = pd.read_csv("../../Data Sets/koeln.csv")

essenData = pd.read_csv("../../Data sets/essen.csv")

In [13]:
cologneData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977460 entries, 0 to 977459
Data columns (total 9 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   day            977460 non-null  object
 1   time           977460 non-null  object
 2   b_number       977460 non-null  int64
 3   city           977460 non-null  object
 4   trip_duration  977460 non-null  object
 5   orig_lat       977460 non-null  float64
 6   orig_lng       977460 non-null  float64
 7   dest_lat       977460 non-null  float64
 8   dest_lng       977460 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 67.1+ MB

In [14]:
essenData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54411 entries, 0 to 54410
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   day            54411 non-null  object
 1   time           54411 non-null  object
 2   b_number       54411 non-null  int64
 3   city           54411 non-null  object
 4   trip_duration  54411 non-null  object
 5   orig_lat       54411 non-null  float64
 6   orig_lng       54411 non-null  float64
 7   dest_lat       54411 non-null  float64
 8   dest_lng       54411 non-null  float64
dtypes: float64(4), int64(1), object(4)
memory usage: 3.7+ MB

## Get Weekdays from day Object

In [15]:
essenData.head(10)

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng
0,2019-06-29,15:13:00,683,essen,0 days 00:35:00.000000000,51.361387,6.937236,51.386582,6.998130
1,2019-01-20,10:13:00,693,essen,0 days 00:07:00.000000000,51.461765,7.007779,51.452158,7.014620
2,2019-01-22,07:50:00,693,essen,0 days 00:08:00.000000000,51.452158,7.014620,51.463641,7.009654
3,2019-01-23,10:08:00,693,essen,0 days 00:47:00.000000000,51.463641,7.009654,51.458406,7.011209
4,2019-01-23,11:25:00,693,essen,0 days 00:29:00.000000000,51.458406,7.011209,51.463641,7.009654
5,2019-01-24,12:40:00,693,essen,0 days 00:11:00.000000000,51.463641,7.009654,51.474597,7.007743
6,2019-01-25,04:54:00,693,essen,0 days 01:01:00.000000000,51.474597,7.007743,51.461934,7.011858
7,2019-01-29,13:54:00,693,essen,0 days 00:43:00.000000000,51.461934,7.011858,51.461765,7.007779
8,2019-02-04,11:01:00,693,essen,0 days 00:11:00.000000000,51.463641,7.009654,51.458406,7.011209
9,2019-02-04,12:34:00,693,essen,0 days 00:20:00.000000000,51.458406,7.011209,51.463641,7.009654

In [17]:
## mfunke4

# transform value to day string
def getDayFromWeekdayNumber(argument):
    switcher = {
        0: "Monday",
        1: "Tuesday",
        2: "Wednesday",
        3: "Thursday",
        4: "Friday",
        5: "Saturday",
        6: "Sunday",
    }
    return switcher.get(argument)

In [18]:
## mfunke4
 
# iterate through dataframe and assign correct weekday to date
for i in essenData.index:
    weekdayNumber = datetime.strptime(essenData.day[i], '%Y-%m-%d').weekday()
    essenData.at[i, "weekday"] = getDayFromWeekdayNumber(weekdayNumber) 
    
# old method

#for i in essenData.index:
#   weekdayNumber = datetime.strptime(essenData.day[i], '%Y-%m-%d').weekday()
#   essenData.loc[i, "weekday"] = getDayFromWeekdayNumber(weekdayNumber)    

# display head
essenData.head()

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,weekday
0,2019-06-29,15:13:00,683,essen,0 days 00:35:00.000000000,51.361387,6.937236,51.386582,6.998130,Saturday
1,2019-01-20,10:13:00,693,essen,0 days 00:07:00.000000000,51.461765,7.007779,51.452158,7.014620,Sunday
2,2019-01-22,07:50:00,693,essen,0 days 00:08:00.000000000,51.452158,7.014620,51.463641,7.009654,Tuesday
3,2019-01-23,10:08:00,693,essen,0 days 00:47:00.000000000,51.463641,7.009654,51.458406,7.011209,Wednesday
4,2019-01-23,11:25:00,693,essen,0 days 00:29:00.000000000,51.458406,7.011209,51.463641,7.009654,Wednesday

In [21]:
## mfunke4
## takes some time ##

# iterate through dataframe and assign correct weekday to date
for i in cologneData.index:
    weekdayNumber = datetime.strptime(cologneData.day[i], '%Y-%m-%d').weekday()
    cologneData.at[i, "weekday"] = getDayFromWeekdayNumber(weekdayNumber) 
    
# display head
cologneData.head()

,day,time,b_number,city,trip_duration,orig_lat,orig_lng,dest_lat,dest_lng,weekday
0,2019-01-23,12:49:00,20137,koeln,0 days 02:48:00.000000000,51.323978,12.337974,50.920134,6.971512,Wednesday
1,2019-01-23,12:49:00,20199,koeln,0 days 02:03:00.000000000,51.323978,12.337974,50.920134,6.971512,Wednesday
2,2019-03-09,00:36:00,21000,koeln,0 days 00:12:00.000000000,50.958923,7.008967,50.940311,7.018941,Saturday
3,2019-09-15,10:28:00,21001,koeln,0 days 00:26:00.000000000,50.944960,6.972005,50.949760,6.981434,Sunday
4,2019-09-15,16:10:00,21001,koeln,0 days 00:47:00.000000000,50.949800,6.981403,50.934821,7.001967,Sunday

## Weather data

### Air Pressure

In [ ]:
#mfunke4

#import Data
airPressure = pd.read_csv("../weather_data/3_weather_data/air_pressure/data_air_pressure_hpa_hourly.csv")

# change timestamp format
for i in airPressure.index:
    
    airPressure.at[i, "Zeitstempel"] = datetime.strptime(str(airPressure.at[i, "Zeitstempel"]), '%Y%m%d%H%M')
    
    airPressure.at[i, "day"] = airPressure.at[i, "Zeitstempel"].date()
    airPressure.at[i, "time"] = airPressure.at[i, "Zeitstempel"].time()

# delete Zeitstempel column (optional) 
airPressure = airPressure.drop(columns=["Zeitstempel"])

# rearrange column order
cols = airPressure.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols = cols[-1:] + cols[:-1]

airPressure = airPressure[cols] 

# show Dataframe
#airPressure.info()
airPressure.head()

### Air Temparature

In [ ]:
#mfunke4

# import data
airTemperature = pd.read_csv("../weather_data/3_weather_data/air_temperature/data_Temperature_air_2m_hourly.csv")

# change timestamp format
for i in airTemperature.index:
    
    airTemperature.at[i, "Zeitstempel"] = datetime.strptime(str(airTemperature.at[i, "Zeitstempel"]), '%Y%m%d%H%M')
    
    airTemperature.at[i, "day"] = airTemperature.at[i, "Zeitstempel"].date()
    airTemperature.at[i, "time"] = airTemperature.at[i, "Zeitstempel"].time()
    
# delete Zeitstempel column (optional) 
airTemperature = airTemperature.drop(columns=["Zeitstempel"])

# rearrange column order
cols = airTemperature.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols = cols[-1:] + cols[:-1]

airTemperature = airTemperature[cols] 

# show Dataframe
#airTemperature.info()
airTemperature.head()

### Cloud Coverage

In [ ]:
# import data
cloudCoverage = pd.read_csv("../weather_data/3_weather_data/cloud_coverage/data_Hourly_observ_cloud_coverage.csv")

# change timestamp format
for i in cloudCoverage.index:
    
    cloudCoverage.at[i, "Zeitstempel"] = datetime.strptime(str(cloudCoverage.at[i, "Zeitstempel"]), '%Y%m%d%H%M')
    
    cloudCoverage.at[i, "day"] = cloudCoverage.at[i, "Zeitstempel"].date()
    cloudCoverage.at[i, "time"] = cloudCoverage.at[i, "Zeitstempel"].time()

# delete Zeitstempel column (optional) 
cloudCoverage = cloudCoverage.drop(columns=["Zeitstempel"])

# rearrange column order
cols = cloudCoverage.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols = cols[-1:] + cols[:-1]

cloudCoverage = cloudCoverage[cols] 

# show Dataframe
#cloudCoverage.info()
cloudCoverage.head()

### Precipitation Form

In [ ]:
# import data
precipitationForm = pd.read_csv("../weather_data/3_weather_data/form_of_precipitation/data_form_of_rain_precipitation.csv")

# change timestamp format
for i in precipitationForm.index:
    
    precipitationForm.at[i, "Zeitstempel"] = datetime.strptime(str(precipitationForm.at[i, "Zeitstempel"]), '%Y%m%d%H%M')
    
    precipitationForm.at[i, "day"] = precipitationForm.at[i, "Zeitstempel"].date()
    precipitationForm.at[i, "time"] = precipitationForm.at[i, "Zeitstempel"].time()

# delete Zeitstempel column (optional) 
precipitationForm = precipitationForm.drop(columns=["Zeitstempel"])

# rearrange column order
cols = precipitationForm.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols = cols[-1:] + cols[:-1]

precipitationForm = precipitationForm[cols] 

# show Dataframe
#precipitationForm.info()
precipitationForm.head()

### Precipitation Amount

In [ ]:
# import data
precipitationAmount = pd.read_csv("../weather_data/3_weather_data/precipitation_amount/data_volume_rain_precipitation_hourly.csv")

# change timestamp format
for i in precipitationAmount.index:
    
    precipitationAmount.at[i, "Zeitstempel"] = datetime.strptime(str(precipitationAmount.at[i, "Zeitstempel"]), '%Y%m%d%H%M')
    
    precipitationAmount.at[i, "day"] = precipitationAmount.at[i, "Zeitstempel"].date()
    precipitationAmount.at[i, "time"] = precipitationAmount.at[i, "Zeitstempel"].time()

# delete Zeitstempel column (optional) 
precipitationAmount = precipitationAmount.drop(columns=["Zeitstempel"])

# rearrange column order
cols = precipitationAmount.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols = cols[-1:] + cols[:-1]

precipitationAmount = precipitationAmount[cols] 

# show Dataframe
#precipitationAmount.info()
precipitationAmount.head()

### Relative Humidity

In [ ]:
# import data
relativeHumidity= pd.read_csv("../weather_data/3_weather_data/relative_humidity_percent/data_relative_humidity_hourly.csv")

# change timestamp format
for i in relativeHumidity.index:
    
    relativeHumidity.at[i, "Zeitstempel"] = datetime.strptime(str(relativeHumidity.at[i, "Zeitstempel"]), '%Y%m%d%H%M')
    
    relativeHumidity.at[i, "day"] = relativeHumidity.at[i, "Zeitstempel"].date()
    relativeHumidity.at[i, "time"] = relativeHumidity.at[i, "Zeitstempel"].time()

# delete Zeitstempel column (optional) 
relativeHumidity = relativeHumidity.drop(columns=["Zeitstempel"])

# rearrange column order
cols = relativeHumidity.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols = cols[-1:] + cols[:-1]

relativeHumidity = relativeHumidity[cols] 

# show Dataframe
#relativeHumidity.info()
relativeHumidity.head()

### Soil Temperature

In [ ]:
# import data
soilTemperature = pd.read_csv("../weather_data/3_weather_data/soil_temperatur_depth_5cm/data_Temperature_ground_5cm_hourly.csv")

# change timestamp format
for i in soilTemperature.index:
    
    soilTemperature.at[i, "Zeitstempel"] = datetime.strptime(str(soilTemperature.at[i, "Zeitstempel"]), '%Y%m%d%H%M')
    
    soilTemperature.at[i, "day"] = soilTemperature.at[i, "Zeitstempel"].date()
    soilTemperature.at[i, "time"] = soilTemperature.at[i, "Zeitstempel"].time()

# delete Zeitstempel column (optional) 
soilTemperature = soilTemperature.drop(columns=["Zeitstempel"])

# rearrange column order
cols = soilTemperature.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols = cols[-1:] + cols[:-1]

soilTemperature = soilTemperature[cols] 

# show Dataframe
#soilTemperature.info()
soilTemperature.head()

### Sunshine Duration

In [ ]:
# import data
sunshineDuration = pd.read_csv("../weather_data/3_weather_data/sunshine_duration_hours/data_daily_observ_sunshine_duration_hours.csv")

# change timestamp format
for i in sunshineDuration.index:
    
    sunshineDuration.at[i, "Zeitstempel"] = datetime.strptime(str(sunshineDuration.at[i, "Zeitstempel"]), '%Y%m%d')
    
    sunshineDuration.at[i, "day"] = sunshineDuration.at[i, "Zeitstempel"].date()

# delete Zeitstempel column (optional) 
sunshineDuration = sunshineDuration.drop(columns=["Zeitstempel"])

# rearrange column order
cols = sunshineDuration.columns.tolist()
cols = cols[-1:] + cols[:-1]

sunshineDuration = sunshineDuration[cols] 

# show Dataframe
#sunshineDuration.info()
sunshineDuration.head()

### Wind Velocity

In [ ]:
# import data
windVelocity = pd.read_csv("../weather_data/3_weather_data/wind_velocity/data_Wind_velocity_10m_hourly.csv")

# change timestamp format
for i in windVelocity.index:
    
    windVelocity.at[i, "Zeitstempel"] = datetime.strptime(str(windVelocity.at[i, "Zeitstempel"]), '%Y%m%d%H%M')
    
    windVelocity.at[i, "day"] = windVelocity.at[i, "Zeitstempel"].date()
    windVelocity.at[i, "time"] = windVelocity.at[i, "Zeitstempel"].time()

# delete Zeitstempel column (optional) 
windVelocity = windVelocity.drop(columns=["Zeitstempel"])

# rearrange column order
cols = windVelocity.columns.tolist()
cols = cols[-1:] + cols[:-1]
cols = cols[-1:] + cols[:-1]

windVelocity = windVelocity[cols] 

# show Dataframe
#windVelocity.info()
windVelocity.head()

Display the last 5 rows

In [ ]:
airPressure.describe()

#gives back the count, mean, etc.

In [ ]:
airPressure.isnull()

# displays if there are null values (better command for that?)

# Testing/visualizing some selected datasets

In [ ]:
airPressure.columns 
#gives back the column names so we know what we are dealing with, the columns are all named the same

#airTemperature.columns
#cloudCoverage.columns
#precipitationForm.columns
#precipitationAmount.columns
#relativeHumidity.columns
#soilTemperature.columns
#sunshineDuration.columns
#windVelocity.columns

In [ ]:
airPressure.values
# gives back the first three rows and the last three rows

In [ ]:
airPressure["Wert"]
# gives back the values inside the "Wert" column (Wert = Value)

In [ ]:
airPressure.loc[airPressure.SDO_ID == 1303]

# filters the table airPressure so that only the SDO_ID = 1303 is displayed. Meaning that only the Essen-City weather station is
# displayed. Since all 3 weather stations are in one table this command is important.

# 1303 - Essen
# 2667 - koeln/bonn
# 2968 - Koeln Stammesheim

In [ ]:
airPressure.loc[airPressure.SDO_ID == 2667]
#koeln/bonn
#airPressure.loc[airPressure.SDO_ID == 2968]
# koeln Stammesheim

In [ ]:
## NameError: name 'axes' is not defined

fig, ax = plt.subplots(nrows=1,ncols=1, figsize = (10,6))
sns.barplot(x= "Zeitstempel", y = "Wert", data = airPressure, ax = axes[0], palette ="OrRd")
plt.show()

In [ ]:
#sns.pairplot(airPressure, palette = "magma", height =2, hue="Wert")
#plt.show()